<h3 style="text-align: center;margin-top: 2%; ">Donacija krvi</h3>

<p>{{center.id}}</p>
<p>{{center.name}}</p>
<p>{{center.rating}}</p>
<p>{{center.city}}</p>


 <div *ngIf="alert; else loggedOut">
    You have not completed a survey.
  </div>
  
  <ng-template #loggedOut>
    <div id="date-select">
        <label for="booked-date">Izaberi datum:</label>
        <i class="fa fa-calendar" aria-hidden="true"></i>
        <select ngModel name="booking_date" id="booked-date" (ngModelChange)="ChangingValue($event)">
            <option  *ngFor="let day of days" value="{{day.substr(0,10)}}">
                {{day}}
            </option>
            </select>
    </div>
    
    
    <ul class="common-list" style="width: 50%;">
        <li class="common-list-item" *ngFor="let appointment of appointments"  (click)="onClick(appointment)">{{appointment.date | date:'HH:mm'}}</li>
     </ul>
<br><br>
     <div *ngIf="alertDonation" style="text-align: center;">You donated blood in past six months.</div>

     <button type="button" [disabled]="!enableButton" class="btn btn-primary" style="margin:auto; display: block; margin-top: 100px;" (click)="takeAppointment()">Take appointmet</button>

  </ng-template>