<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/home">Home</a>
  
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/center">Medical Center</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/form">Blood form</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/appointments">Appointments</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/complaint" *ngIf="!isAdmin">Complaint</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" *ngIf="isLogedIn" (click)="logout()">Logut</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/registration" *ngIf="!isLogedIn">Registration</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login" *ngIf="!isLogedIn">Login</a>
        </li>
      </ul>
    </div>    
  </nav>
  