<h3 class="mb-5 text-uppercase" style="text-align: center">User registration form</h3>
<div style="width: 30%; margin-left: auto; margin-right: auto;">
    <div class="row">
        <div class="col-md-6 mb-4">
            <div class="form-outline">
                <input type="text" id="firstname" class="form-control form-control-lg" />
                <label class="form-label" for="firstname">First name</label>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="form-outline">
                <input type="text" id="lastname" class="form-control form-control-lg" />
                <label class="form-label" for="lastname">Last name</label>
            </div>
        </div>
    </div>

    <div class="form-outline mb-4">
        <input type="text" id="email" class="form-control form-control-lg" />
        <label class="form-label" for="email">Email</label>
    </div>

    <div class="row">
        <div class="col-md-6 mb-4">
            <div class="form-outline">
                <input type="text" id="password1" class="form-control form-control-lg" />
                <label class="form-label" for="password1">Password</label>
            </div>
        </div>

        <div class="col-md-6 mb-4">
            <div class="form-outline">
                <input type="text" id="password2" class="form-control form-control-lg" />
                <label class="form-label" for="password2">Password</label>
            </div>
        </div>
    </div>

    <div class="d-md-flex justify-content-start align-items-center mb-4 py-2">

        <h6 class="mb-0 me-4">Gender: </h6>

        <div class="form-check form-check-inline mb-0 me-4">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="femaleGender" value="option1" />
            <label class="form-check-label" for="femaleGender">Female</label>
        </div>

        <div class="form-check form-check-inline mb-0 me-4">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="maleGender" value="option2" />
            <label class="form-check-label" for="maleGender">Male</label>
        </div>

    </div>

    <div class="row">
        <div class="col-md-4 mb-4">

            <select class="select">
                <option value="1">State</option>
                <option value="2">Option 1</option>
                <option value="3">Option 2</option>
                <option value="4">Option 3</option>
            </select>

        </div>
        <div class="col-md-4 mb-4">

            <select class="select">
                <option value="1">City</option>
                <option value="2">Option 1</option>
                <option value="3">Option 2</option>
                <option value="4">Option 3</option>
            </select>

        </div>
        <div class="col-md-4 mb-4">

            <select class="select">
                <option value="1">City</option>
                <option value="2">Option 1</option>
                <option value="3">Option 2</option>
                <option value="4">Option 3</option>
            </select>

        </div>
    </div>

    <div class="form-outline mb-4">
        <input type="text" id="phone" class="form-control form-control-lg" />
        <label class="form-label" for="phone">Phone Number</label>
    </div>

    <div class="form-outline mb-4">
        <input type="text" id="jmbg" class="form-control form-control-lg" />
        <label class="form-label" for="jmbg">Jmbg</label>
    </div>

    <div class="form-outline mb-4">
        <input type="text" id="job" class="form-control form-control-lg" />
        <label class="form-label" for="job">Job</label>
    </div>

    <div class="form-outline mb-4">
        <input type="text" id="bio" class="form-control form-control-lg" />
        <label class="form-label" for="bio">Biography</label>
    </div>



    <div class="d-flex justify-content-end pt-3">
        <button type="button" class="btn btn-primary btn-lg ms-2" style="margin-left: auto;margin-right: auto;">Register</button>
    </div>
</div>